{% for cat in categories %}
<div class="pr-2">
    <a href="{{ path('category_products', {id: cat.id}) }}">
        <div class=" w-24 justify-center bg-cyan-900 text-center text-white p-1 pl-2 rounded-md hover:bg-cyan-700">
            {{ cat.title }}
        </div>
    </a>
</div>    
{% endfor %}
